header .navbar .row {
    background: var( --colorA );
    color: var( --white );
    font-weight: 500;
}
header .links a {
    -webkit-transition: all 800ms ease;
    -moz-transition: all 800ms ease;
    -ms-transition: all 800ms ease;
    -o-transition: all 800ms ease;
    transition: all 800ms ease;
}
header .active,
header .links a:hover {
    background-color: var( --color );
    -webkit-transition: all 800ms ease;
    -moz-transition: all 800ms ease;
    -ms-transition: all 800ms ease;
    -o-transition: all 800ms ease;
    transition: all 800ms ease;
}
header .navbar-brand {
    left: 0;
    bottom: 20px;
}
header .navbar-brand img {
    width: 263px;
}
header .links a + a {
    border-left: 2px solid var( --white );
}
header .ocsa {
    height: 70px;
}


#menuNav .modal-dialog {
    margin: 0;
}
#menuNav .modal-dialog .modal-content {
    border-radius: 0;
}
#menuNav .modal-footer {
    align-items: initial;
    justify-content: initial;
}
#menuNav .activeImportat,
#menuNav .activeIdioma {
    color: #D7BE89 !important;
}
#menuNav .idiomas li + li {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid rgb(68, 68, 71);
}
#menuNav .info:not(.modal-footer) i {
    font-size: 24px;
    color: #BF1939;
}
#menuNav .info form input {
    border: none;
    outline: none;
    font-size: inherit;
    font-family: inherit;
}
#menuNav .info form i {
    right: 10px;
    top: calc(50% - 8px);
}
#menuNav [aria-expanded="true"] > i {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: all 700ms ease;
    -moz-transition: all 700ms ease;
    -ms-transition: all 700ms ease;
    -o-transition: all 700ms ease;
    transition: all 700ms ease;
}