:root {
    --space: 10px;
}
.row {
    margin-right: calc( var( --space) * -1 );
    margin-left: calc( var( --space) * -1 );
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    padding-left: var( --space);
    padding-right: var( --space);
}
.container-fluid {
    padding-left: var( --space);
    padding-right: var( --space);
}

.show-tablet {
    display: none !important;
}
.list-group-item.active {
    background-color: transparent;
    border-color: #1955AC;
}
.list-group-item.active > a,
.list-group-item.active > div {
    color: #1955AC;
}
.list-group-item.active > div + ul {
    color: #222;
}
@media ( max-width: 1200px ) and ( min-width: 992px ) {
    .buscador > div .title, .cotizacion > div .title {
        font-size: 25px;
    }
}
@media ( max-width: 768px ) and ( min-width: 576px ) {
    .cotizacion.titulo {
        font-size: 80%;
    }
    .cotizacion.titulo > div.position-absolute + div {
        flex-direction: column !important;
    }
    .wrapper-contacto form > div > div > div:last-child {
        margin-top: 1.5em;
    }

    footer .logo {
        max-width: 100%;
    }
}
@media ( max-width: 768px ) {
    .order--1 {
        order: 1;
    }
    .order--2 {
        order: 2;
    }
    .hidden-mobile .hidden-mobile {
        display: none !important;
    }
    .container-grid {
        display: none;
    }
    header .navbar-brand img {
        height: 55px;
        width: auto;
    }
    header .ocsa {
        height: 35px;
    }
    header .links {
        display: none;
    }

    .container-grid {
        grid-template-areas: "cotizacion buscador";
        grid-template-rows: auto;
        grid-gap: 30px;
        grid-template-columns: 1fr 1fr;
        margin-top: 30px;
    }

    .cotizacion,
    .buscador {
        padding: 2em 0;
    }
    .cotizacion .title,
    .buscador .title {
        font-size: 31px !important;
    }

    .cotizacion span {
        display: none;
    }

    .row .col-1, .row .col-2, .row .col-3, .row .col-4, .row .col-5, .row .col-6, .row .col-7, .row .col-8, .row .col-9, .row .col-10, .row .col-11, .row .col-12, .row .col, .row .col-auto, .row .col-sm-1, .row .col-sm-2, .row .col-sm-3, .row .col-sm-4, .row .col-sm-5, .row .col-sm-6, .row .col-sm-7, .row .col-sm-8, .row .col-sm-9, .row .col-sm-10, .row .col-sm-11, .row .col-sm-12, .row .col-sm, .row .col-sm-auto, .row .col-md-1, .row .col-md-2, .row .col-md-3, .row .col-md-4, .row .col-md-5, .row .col-md-6, .row .col-md-7, .row .col-md-8, .row .col-md-9, .row .col-md-10, .row .col-md-11, .row .col-md-12, .row .col-md, .row .col-md-auto, .row .col-lg-1, .row .col-lg-2, .row .col-lg-3, .row .col-lg-4, .row .col-lg-5, .row .col-lg-6, .row .col-lg-7, .row .col-lg-8, .row .col-lg-9, .row .col-lg-10, .row .col-lg-11, .row .col-lg-12, .row .col-lg, .row .col-lg-auto, .row .col-xl-1, .row .col-xl-2, .row .col-xl-3, .row .col-xl-4, .row .col-xl-5, .row .col-xl-6, .row .col-xl-7, .row .col-xl-8, .row .col-xl-9, .row .col-xl-10, .row .col-xl-11, .row .col-xl-12, .row .col-xl, .row .col-xl-auto, .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .wrapper-empresa .contenido {
        -webkit-column-count: 1;
        -webkit-column-gap: 0;
        -moz-column-count: 1;
        -moz-column-gap: 0;
        column-count: 1;
        column-gap: 0;
    }

    .wrapper-productos .container > .row:nth-child( 2 ) .col-12 + .col-12 {
        margin-top: 1.5em;
    }
    .wrapper-home .row.SinEspacio > div {
        padding: 0;
    }
}
@media ( max-width: 576px ) {
    header {
        border-bottom: 1px solid #bbb;
    }
    .navbar > div {
        background: #f8f8f8 !important;
    }
    .list-group.icon.list-group-horizontal {
        display: block !important;
    }
    .list-group.icon.list-group-horizontal .list-group-item {
        width: 100%;
        display: block;
    }
    .wrapper-contacto .row .col-12 .row .col-12 + .col-12 {
        margin-top: 1em;
    }
    .wrapper-contacto form .row.normal > div + div {
        margin-top: 1.5em;
    }
    footer .col-12 + .col-12 {
        margin-top: 1.2em;
    }
    .container-grid {
        grid-template-areas: "cotizacion"
                            "buscador";
        grid-template-rows: 1fr 1fr;
        grid-gap: 15px;
        grid-template-columns: auto;
        margin-top: 15px;
    }

    .wrapper-home .icon {
        font-size: 12px;
        line-height: 12px;
    }
}
@media (max-width: 992px) {
    #contacto-container {
        margin-top: 0;
    }
    .hidden-tablet {
        display: none !important;
    }
    .show-tablet {
        display: block !important;
    }
}